@charset "UTF-8";

.logout_div{
	padding-left: 100px !important;  
	padding-bottom: 30px !important; 
}

.game_div{
	padding-left: 100px !important;  
}

.user_form{
	padding-left: 100px !important;  
}